<!DOCTYPE html>
<html ng-app lang="gr">
	<head>
		<meta charset="utf-8">
		<title> TRACER: Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="css/bootstrap.css" rel="stylesheet" media="screen" />
		<link href="css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="css/webui.css" rel="stylesheet" />
		<script src="js/angular.min.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body id="loginpage">
		<div class="container" ng-controller="Controller">
			<div align="center" style="padding-bottom:10px">
				<img src="img/logo_tracer.png" alt="TRACER logo"/>
			</div>
			<form class="form-signin" name="form" novalidate>
			<h1 class="form-signin-heading"> Σύνδεση </h1>
			<input type="text" class="input-block-level" ng-model="user.name" name="username" placeholder="Όνομα χρήστη" />
			<input type="password" class="input-block-level" ng-model="user.pass" name="pass" placeholder="Κωδικός χρήστη" />
			<div class="alert alert-error" ng-show="form.username.$dirty && form.pass.$dirty && form.$invalid">
				Το όνομα ή o κωδικός χρήστη είναι λανθασμένα!
			</div>
			<button class="btn btn-primary" type="button" ng-click=login(user) ng-disabled="!user.name ||!user.pass">Είσοδος</button>
			</form>
		</div>
		<!-- Bootstrap scripts -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootstrap-collapse.js"></script>
	</body>
</html>

